:root {
    /* common */
    --containerMaxWidth: 1500px;

    /* fonts */

    --font-family: 'Montserrat-Regular', sans-serif;
    --second-family: 'MullerRegular', sans-serif;
    --font-montserrat-bold: 'Montserrat-Bold', sans-serif;


    /* color */
    --white: #FFFFFF;
    --black: #000000;
    --black-35: #323235;
    --blue-a5: #1315a5;
    --blue-ef: #5d5fef;
    --blue-e7: #315de7;
    --indigo-f1: #7879f1;
    --indigo-e1: #6869e1;
    --violet-ea: #a752ea;
    --fuchsia-a8: #ef5da8;
    --grey-33: #333;
    --grey-f9: #f9f9f9;
    --grey-dd: #dddddd;
    --orange-52: #ea7552;
    --orange-40: #D86340;
}